$home-bg: $white;

.home-section{
    @include styleSection(150px, 150px, $home-bg);
    
    background-image: url(backgroundImg/home.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
